<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.delete(:password_digest) %>

    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if controller.action_name=="edit" %>
    <p><strong>ID:</strong> <%=@user.id%>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <% User::ROLES.each {|r| %>
    <%= f.radio_button :role, r %>
    <%= f.label :role, r, :value=>r %>
    <% } %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %><br />
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %><br />
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %><br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
